#viewport {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

chess-board {
  display: block;
  background-color: #777;
  /* Please keep the board this size */
  width: 90vh;
  height: 90vh;

}

chess-board div {
  display: flex;
  flex-wrap: wrap;
}

chess-board div .square {
  display: flex;
  /* flex grow 1(even size), shrink 0(items won't overflow container, basis 12.5%(initial sizeo of each item) */
  flex: 1 0 12.5%;
  /* height of each element = 90/8 = 11.25 */
  height: 11.25vh;
}


chess-board div .square.white {
  background-color: #fff;
}

chess-board div .square.black {
  background-color: #000;
}



chess-controls {
  display: flex;
  flex-direction: column;
}
