#viewport {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

chess-board {
  display: block;
  background-color: #777;
  /* Please keep the board this size */
  width: 90vh;
  height: 90vh;

}

chess-board div {
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  height: 90vh;
}

chess-board div .square {
  display: flex;
  width: 12.5%;
  /* height of each element = 90/8 = 11.25 */
  height: 11.25vh;
  justify-content: center;
  align-items: center;
}

chess-board div .square.white {
  background-color: #eeeed2;
}

chess-board div .square.black {
  background-color: #769656;
}

chess-board .square .piece {
  font-size: 6em;
  cursor: pointer;
  user-select: none;
  color: #000;
  opacity: 0;
  transition: opacity 0.5s;
  width: unset;
  height: unset;
}

chess-board .square .piece.animate {
  opacity: 1;
}

chess-controls {
  display: flex;
  flex-direction: column;
}
